
.appointment-item, .appointment-item_white, .appointment-item_black
{
  border-radius: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 225px;
  transition: 0.2s;
}

.appointment-item
{
  background: rgba(0, 0, 0, 0.8);
}

.appointment-item_white
{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.appointment-item_black
{
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
}

.appointment-item:hover
{
  background: rgba(50, 50, 50, 0.8);
}

.appointment-item:hover .appointment-button
{
  border: 1px solid black;
}

.appointment-info
{
  margin: 10px;
  text-align: center;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #9c9c9c;
  font-weight: 700;
  font-size: calc(16px + 2 * (100vw/ 1440)); 
}

.appointment-button, .appointment-button_white, .appointment-button_black
{
  display: inline-block;
  margin: 15px 10px 10px 10px;
  padding: 10px 20px;
  -webkit-text-stroke: 0.5px #9c9c9c;
  border: none;
  text-decoration: none;
  font-size: calc(16px + 2 * (100vw/ 1440));
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
}

.appointment-button
{
  background: rgba(100, 100, 100, 0.6);
  color: #fff;
}

.appointment-button_white
{
  background-color: #ffffff;
  border: 1.5px solid black;
  -webkit-text-stroke: 0.5px #9c9c9c;
}

.appointment-button_black
{
  background-color: black;
  -webkit-text-stroke: 0.5px #9c9c9c;
  border: 1.5px solid rgb(255, 255, 255);
}

.appointment-button:hover
{
  background: rgba(0, 0, 0, 0.6);
}