.nav, .nav_black, .nav_white
{
  display: flex;
  position: relative;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.nav
{
  background: #545454;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_black
{
  border-top: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
}

.nav_white
{
  border-top: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
}

.logo
{
  position: absolute;
  left: 0;
  margin: 0px 20px 0px 20px;
}

.nav-list
{
  flex-direction: row;
  list-style-type: none;
  display: flex;
}

a
{
  text-decoration: none;
}

.list-child
{
  margin-left: 20px;
}

.nav-link, .nav-link_black, .nav-link_white
{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-stroke: 0.5px #9c9c9c; /* For Safari */
  text-transform: uppercase;
  font-size: calc(18px + 2 * (100vw/ 1440));
}

.nav-link
{
  color: #FFFFFF;
}

.white
{
  color: #FFFFFF;
  -webkit-text-stroke:0cm;
  text-shadow:none;
}

.tel-list
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-tel-text
{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px #ffffff;
  font-size: calc(18px + 2 * (100vw/ 1440));
}

.nav-tel-text
{
  color: #7DC07F;
}

.tel
{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-left: 20px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px #9c9c9c;
  font-size: calc(18px + 2 * (100vw/ 1440));
}

.tel
{
  color: #FFFFFF;
}

.profile-wrap
{
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  margin-left: 20px;

}

.entire-profile
{
  font-style: normal;
  font-weight: 700;
  font-size: calc(18px + 2 * (100vw/ 1440));
  line-height: 21px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px #9c9c9c;
}

.entire-profile
{
  color: #FFFFFF;
}

.header-burger, .header-burger_black, .header-burger_white
{
  display: none;
  position: absolute;
  right: 30px;
  width: 30px;
  height: 20px;
  border: none;
  background: none;
  padding-right: 25px;
}

.header-burger:before,
.header-burger:after,
.header-burger_black:before,
.header-burger_black:after,
.header-burger_white:before,
.header-burger_white:after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  transition: all 0.3s ease 0s;
}

.header-burger:before,
.header-burger:after,
.header-burger_white:before,
.header-burger_white:after
{
  background-color: #FFFFFF;
}

.header-burger_black:before,
.header-burger_black:after
{
  background-color: #000000;
}

.header-burger:before, .header-burger_black:before, .header-burger_white:before
{
  top: 0;
}

.header-burger span, .header-burger_black span, .header-burger_white span
{
  position: absolute;
  width: 100%;
  height: 3px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.header-burger span, .header-burger_white span
{
  background-color: #FFFFFF;
}

.header-burger_black span
{
  background-color: #000000;
}

.header-burger:after, .header-burger_black:after, .header-burger_white:after
{
  bottom: 0;
}



.header-burger.active:before, .header-burger_black.active:before, .header-burger_white.active:before
{
  transform: rotate(45deg);
  top: 9px
}

.header-burger.active:after, .header-burger_black.active:after, .header-burger_white.active:after
{
  transform: rotate(-45deg);
  bottom: 8px;
}

.header-burger.active span, .header-burger_black.active span, .header-burger_white.active span
{
  transform: scale(0);
}

@media screen and (max-width: 1300px){
  .nav-list, .nav-tel
  {
    display: none;
  }

  .profile-wrap
  {
    position: absolute;
    right: 100px;
  }

  .header-burger, .header-burger_black, .header-burger_white
  {
    display: block;
  }
}
